{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}


<style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
body{
    background-color: transparent;
    line-height:1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
   margin-left: 20px;
}

.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
   /* background: url(shoes_images/checked.png) left center no-repeat;*/
   /* background-size: 18px;*/
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        background-color: transparent;
    }
    .card-wrapper{
        padding-top: 100px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
    a{
        text-decoration: none;
        color: white;
        transition: all 0.3s;
    }
    a:active {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
}
</style>


<body>
    
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
            </div>
            <div class = "img-select">
              <div class = "img-item">
                  <img src = "{{ produit.image.url }}" alt = "{{produit.nom}}">
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class = "product-content">
            <h2 class = "product-title">{{ produit.nom }}</h2>
            <a href = "{% url 'acceuil' %}" class = "product-link">Visit Unifin</a>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>4.7(21)</span>
            </div>
  
           <!-- <div class = "product-price">
              <p class = "last-price">Old Price: <span>€257.00</span></p>
              <p class = "new-price">New Price: <span>€{{ article.prix }} (5%)</span></p>
            </div>-->
  
            <div class = "product-detail">
              <h2>A propos de ce produit : </h2>
              <p>Introduuction unifin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur, vero nobis alias eligendi repellendus dolores, dolor simili</p>
              <p>Shop with confidence Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio error, laudantium minima atque exercita</p>
              <ul>
                <li> <b>Available:</b>  <span class="space">in stock</span></li>
                <li><b> Prix: </b> <span class="space">{{ produit.prix }}  DH</span></li>
                <li><b> Unité par Box: </b> <span class="space">{{ produit.stock }}</span></li>
                <li><b> Category: </b> <span class="space">{{ produit.category }}</span></li>
                <li> <b>Livraison:</b> <span class="space">Partout au Maroc</span></li>
                <li> <b>Frais de Livraison:</b><span class="space ">Gratuit</span></li>
              </ul>
            </div>
  
            <div class = "purchase-info">
              <input type = "number" min = "0" value = "1">
              
              <button class="CartBtn">
                <span class="IconContainer"> 
                  <svg style="background-color: rgb(255, 208, 0) !important;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(17, 17, 17)" class="cart"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
                </span>
                <a class="text" href="{% url 'add_to_cart' produit.id %}" >Add to cart</a>
              </button>
            </div>
  
            
          </div>
        </div>
        
      </div>
      <style>

        /* add cart */

        .CartBtn {
            width: 140px;
            height: 40px;
            border-radius: 12px;
            border: none;
            background-color: rgb(255, 208, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition-duration: .5s;
            overflow: hidden;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
            position: relative;
            }

        .IconContainer {
            position: absolute;
            left: -50px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            z-index: 2;
            transition-duration: .5s;
            }

        .icon {
            border-radius: 1px;
            }

        .text {
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(17, 17, 17);
            z-index: 1;
            transition-duration: .5s;
            font-size: 1.04em;
            font-weight: 600;
            text-decoration: none;
            text-transform: none;
            }

        .text:hover {
                text-decoration: none;
            text-transform: none;
            color: black;
            }

        .CartBtn:hover .IconContainer {
            transform: translateX(58px);
            border-radius: 40px;
            transition-duration: .5s;
            }

        .CartBtn:hover .text {
            transform: translate(10px,0px);
            transition-duration: .5s;
            }

        .CartBtn:active {
            transform: scale(0.95);
            transition-duration: .5s;
            }

        /* end add cart*/
        .space{
            margin-left: 15px;
        }
      </style>
      
      <script src="script.js"></script>



</body>

<br><br><br><br><br>

{% endblock %}



